* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1.25rem;
}

.forgot-password-box {
    background: #fff;
    padding: 2.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 0.625rem 1.5625rem rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 50rem;
}

.header {
    text-align: center;
    margin-bottom: 1.875rem;
}

.header h1 {
    font-size: 2rem;
    color: #3498db;
    margin-bottom: 0.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.header h2 {
    margin-bottom: 1.875rem;
    color: #333;
    font-size: 1.5rem;
}

.input-group {
    margin-bottom: 1.25rem;
}

.input-group label {
    display: block;
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.input-group input {
    width: 100%;
    padding: 0.9375rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #3498db;
    outline: none;
}

.error {
    color: red;
    font-size: 0.75rem;
    margin-top: 0.3125rem;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.forgot-password-button:hover {
    background: #3e309e;
}

.forgot-password-button-container {
    position: relative;
    height: 3.125rem;
}

.forgot-password-button {
    width: 100%;
    padding: 0.9375rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(1.25rem);
    pointer-events: none;
}

.forgot-password-button.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.footer {
    margin-top: 1.5625rem;
    text-align: center;
}

.footer a {
    color: #3498db;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 0.9375rem;
    transition: color 0.3s;
}

.footer a:hover {
    color: #2980b9;
    text-decoration: underline;
}