<div *ngIf="isLoading">
    <app-loader></app-loader>
</div>

<div class="update-password-container">
	<div class="update-password-box">
		<div class="header">
			<h1>IP Analyzer</h1>
			<h2>Update Password</h2>
		</div>
		<form [formGroup]="passwordUpdateForm" (ngSubmit)="onSubmit()">
			<div class="input-group">
				<label for="old_password">Old Password</label>
				<div class="password-container">
					<input [type]="isOldPasswordVisible ? 'text' : 'password'" id="old_password" formControlName="oldPassword">
					<i (click)="toggleOldPasswordVisibility()">
						<fa-icon [icon]="isOldPasswordVisible ? ['fas', 'eye-slash'] : ['fas', 'eye']"></fa-icon>
					</i>
				</div>
				<div *ngIf="oldPassword?.invalid && oldPassword?.touched" class="error">
					Old Password is required
				</div>
			</div>

            <div class="input-group">
				<label for="new_password">New Password</label>
				<div class="password-container">
					<input [type]="isNewPasswordVisible ? 'text' : 'password'" id="new_password" formControlName="newPassword">
					<i (click)="toggleNewPasswordVisibility()">
						<fa-icon [icon]="isNewPasswordVisible ? ['fas', 'eye-slash'] : ['fas', 'eye']"></fa-icon>
					</i>
				</div>
				<div *ngIf="newPassword?.invalid && newPassword?.touched" class="error">
					New Password is required
				</div>
			</div>

			<div class="update-password-button-container">
				<button type="submit" class="update-password-button" [class.visible]="passwordUpdateForm.valid">Update Password</button>
			</div>

			<div class="footer">
				<a [routerLink]="['/forgot-password']" routerLinkActive="router-link-active">Forgot Password?</a>
			</div>
		</form>
	</div>
</div>