<div *ngIf="isLoading">
    <app-loader></app-loader>
</div>

<div class="sign-up-container">
    <div class="sign-up-box">
        <div class="header">
            <h1>IP Analyzer</h1>
            <h2>Sign Up</h2>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="input-group">
                <label for="name">Name</label>
                <input type="text" id="name" formControlName="name">
                <div *ngIf="name?.invalid && name?.touched" class="error">
                    <div *ngIf="name?.errors?.['required']">Name is required</div>
                </div>
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="email">
                <div *ngIf="email?.invalid && email?.touched" class="error">
                    <div *ngIf="email?.errors?.['required']">Email is required</div>
                    <div *ngIf="email?.errors?.['email']">Invalid email address</div>
                </div>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <div class="password-container">
                    <input [type]="isPasswordVisible ? 'text' : 'password'" id="password" formControlName="password">
                    <i (click)="togglePasswordVisibility()">
                        <fa-icon [icon]="isPasswordVisible ? ['fas', 'eye-slash'] : ['fas', 'eye']"></fa-icon>
                    </i>
                </div>
                <div *ngIf="password?.invalid && password?.touched" class="error">
                    Password is required
                </div>
                <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
            </div>
            <div class="signup-button-container">
                <button type="submit" class="signup-button" [class.visible]="signupForm.valid">Sign Up</button>
            </div>
            <div class="footer">
                <a [routerLink]="['/sign-in']" routerLinkActive="router-link-active" class="sign-up">Already have an
                    account? Login</a>
            </div>
        </form>
    </div>
</div>