<div *ngIf="isLoading">
    <app-loader></app-loader>
</div>

<div class="container">
    <app-admin-header></app-admin-header>

    <div class="user-list-container">
        <h2>User List</h2>

        <div class="sparse-container">
            <div class="search-bar">
                <input type="text" [(ngModel)]="searchId" placeholder="Search by ID" (input)="filterUsers()" />
                <input type="text" [(ngModel)]="searchName" placeholder="Search by Name" (input)="filterUsers()" />
                <input type="text" [(ngModel)]="searchEmail" placeholder="Search by Email" (input)="filterUsers()" />
                <i (click)="refreshTable()">
                    <fa-icon [icon]="['fas', 'arrows-rotate']"></fa-icon>
                </i>
            </div>

            <div class="filter-group">
                <label for="adminFilter">Is Admin:</label>
                <select id="adminFilter" [(ngModel)]="isAdminFilter" (change)="filterUsers()">
                    <option value="all">All</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>

            <div class="filter-group">
                <label for="lockedFilter">Is Locked:</label>
                <select id="lockedFilter" [(ngModel)]="isLockedFilter" (change)="filterUsers()">
                    <option value="all">All</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>

        </div>

        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Is Admin?</th>
                        <th>Is Locked?</th>
                        <th>Controls</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of filteredUsers">
                        <td>{{ user._id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.is_admin ? "Yes" : "No" }}</td>
                        <td>{{ user.is_locked ? "Yes" : "No" }}</td>
                        <td>
                            <div class="sparse-container">
                                <i (click)="deleteUser(user._id)">
                                    <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                                </i>

                                <i (click)="user.is_locked ? unLockUser(user._id) : lockUser(user._id)">
                                    <fa-icon [icon]="user.is_locked ? ['fas', 'lock-open'] : ['fas', 'lock']"></fa-icon>
                                </i>

                                <i (click)="user.is_admin ? revokeAdmin(user._id) : makeAdmin(user._id)">
                                    <fa-icon [icon]="user.is_admin ? ['fas', 'user'] : ['fas', 'user-gear']"></fa-icon>
                                </i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>