.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: auto;
  display: flex;
  justify-items: center;
  align-items: center;
}

.otp-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  /* 20px */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  /* Ensures text elements are centered */
  width: 60%;
  max-width: 400px;
  min-width: 200px;
}

.otp-heading {
  font-size: 2rem;
  /* 32px */
  color: #333;
  margin-bottom: 2rem;
  /* 32px */
  font-weight: bold;
  text-align: center;
  /* Center-align the heading */
}

.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  /* 12px */
  margin-bottom: 1.5rem;
  /* 24px */
  width: 100%;
}

.otp-inputs input {
  width: 3rem;
  /* 48px */
  height: 3rem;
  /* 48px */
  text-align: center;
  font-size: 1.5rem;
  /* 24px */
  border: 0.125rem solid #ccc;
  /* 2px */
  border-radius: 0.5rem;
  /* 8px */
  transition: border-color 0.3s;
}

.otp-inputs input:focus {
  border-color: #3498db;
  outline: none;
}

@media (max-width: 660px) {
  .otp-container {
    width: 90%;
  }

  .otp-inputs input {
    width: 3rem;
    /* Adjust input size for smaller screens */
    height: 3rem;
  }
}

@media (max-width: 500px) {
  .otp-container {
    width: 90%;
  }

  .otp-inputs input {
    width: 1.6rem;
    /* Adjust input size for smaller screens */
    height: 1.6rem;
  }
}

.otp-actions {
  display: flex;
  justify-content: center;
  /* Center-align the action buttons */
  gap: 1rem;
  /* Add space between the buttons */
  width: 100%;
}

button {
  padding: 0.75rem 2rem;
  /* 12px 32px */
  font-size: 1rem;
  /* 16px */
  color: #fff;
  background-color: #3498db;
  border: none;
  border-radius: 0.5rem;
  /* 8px */
  cursor: pointer;
  transition: background-color 0.3s;
  width: 40%;
}

button:hover {
  background-color: #3e309e;
}

.error-message {
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  margin-top: 1rem;
  /* Increased margin-top */
  margin-bottom: 1rem;
  /* Increased margin-bottom */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* Center-align the error message */
}