.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    backdrop-filter: blur(2px);
}


.loader {
    width: 5%;
    min-width: 50px;
    aspect-ratio: 1;
    color: #e8e2ff;
    border: 2px solid;
    display: grid;
    box-sizing: border-box;
    animation: l1 2s infinite ease;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    margin: auto;
    width: 66%;
    aspect-ratio: 1;
    border: 2px solid;
    box-sizing: content-box;
    animation: inherit;
}

.loader::after {
    width: 33%;
    aspect-ratio: 1;
    border: 2px solid;
    animation-duration: 2s;
}

@keyframes l1 {
    100% {
        transform: rotate(0.5turn)
    }
}