<div *ngIf="isLoading">
    <app-loader></app-loader>
</div>

<div class="forgot-password-container">
	<div class="forgot-password-box">
		<div class="header">
			<h1>IP Analyzer</h1>
			<h2>Set Password</h2>
		</div>
		<form [formGroup]="setPasswordForm" (ngSubmit)="onSubmit()">
			<div class="input-group">
				<label for="password">New Password</label>
				<div class="password-container">
					<input [type]="isPasswordVisible ? 'text' : 'password'" id="password" formControlName="password">
					<i (click)="togglePasswordVisibility()">
						<fa-icon [icon]="isPasswordVisible ? ['fas', 'eye-slash'] : ['fas', 'eye']"></fa-icon>
					</i>
				</div>
				<div *ngIf="password?.invalid && password?.touched" class="error">
					Password is required
				</div>
			</div>
			<div class="forgot-password-button-container">
				<button type="submit" class="forgot-password-button" [class.visible]="setPasswordForm.valid">Change Password</button>
			</div>
		</form>
	</div>
</div>