.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: auto;
}

.results-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 30px;
    width: 90vw;
    max-width: 800px;
    min-width: 500px;
    margin: 0 auto;
    height:auto;
    overflow:hidden;
}

.result-card {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* overflow: auto; */
    /* transition: transform 0.3s ease, max-height 0.3s ease; */
    transition: box-shadow 0.3s ease, max-height 0.3s ease;
    cursor: pointer;
    /* max-height: 150px; */
    position: relative; /* Ensure positioning relative to each card */
}

.result-card:hover {
    /* transform: scale(1.03); */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    /* z-index: 1; */
}

.card-summary {
    overflow-x: hidden;
    max-height: 500px;
    overflow-y: auto;
    padding: 15px;
    background-color: #fff;
}

.card-summary-and-header h3 {
    margin: 10px 0;
    font-size: 18px;
    padding-bottom: 1rem;
    text-align: center;
}

.card-details {
    padding: 0;
    background-color: #f3f3f3;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.card-details.expanded {
    padding: 15px;
    max-height: 300px;
    overflow-y: auto;
}

.result-card table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f3f3f3;
}

.result-card table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
}

.result-card table td strong {
    color: #333;
}

@media (max-width: 768px) {
    .results-container {
        width: 100%; /* Use full width on smaller screens */
        max-width: 100%; /* Remove max width limit */
        padding: 10px; /* Reduce padding */
    }

    .result-card {
        max-height: none; /* Allow card to expand as needed */
    }
}

.secondary-button {
    padding: 1rem 2rem;
    /* Increased padding for buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s, opacity 0.3s ease;
    /* Increased font size for buttons */
    font-size: 1rem;
    font-weight: 700;
    background-color: #ffffff;
}

.secondary-button:hover {
    background-color: #04fefe;
    transform: scale(1.05);
}

.footer {
    margin: 0% auto 50%;
}